build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/imgui.ini
build/main.exe
build/Makefile
build/.cmake/api/v1/reply/cache-v2-f68b4fcd87f9d7d28030.json
build/.cmake/api/v1/reply/cmakeFiles-v1-fb46bf4355c557e94548.json
build/.cmake/api/v1/reply/codemodel-v2-33c379c7901cb09dd08e.json
build/.cmake/api/v1/reply/index-2024-07-26T14-39-12-0070.json
build/.cmake/api/v1/reply/target-main-Debug-d0e06ad6fde496dbc840.json
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.30.0-rc4/CMakeCCompiler.cmake
build/CMakeFiles/3.30.0-rc4/CMakeCXXCompiler.cmake
build/CMakeFiles/3.30.0-rc4/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.30.0-rc4/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.30.0-rc4/CMakeRCCompiler.cmake
build/CMakeFiles/3.30.0-rc4/CMakeSystem.cmake
build/CMakeFiles/3.30.0-rc4/CompilerIdC/a.exe
build/CMakeFiles/3.30.0-rc4/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.30.0-rc4/CompilerIdCXX/a.exe
build/CMakeFiles/3.30.0-rc4/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/main.dir/build.make
build/CMakeFiles/main.dir/cmake_clean.cmake
build/CMakeFiles/main.dir/compiler_depend.internal
build/CMakeFiles/main.dir/compiler_depend.make
build/CMakeFiles/main.dir/DependInfo.cmake
build/CMakeFiles/main.dir/includes_C.rsp
build/CMakeFiles/main.dir/includes_CXX.rsp
build/CMakeFiles/main.dir/linkLibs.rsp
build/CMakeFiles/main.dir/objects.a
build/CMakeFiles/main.dir/objects1.rsp
build/CMakeFiles/main.dir/progress.make
build/CMakeFiles/main.dir/src/Camera.cpp.obj
build/CMakeFiles/main.dir/src/Camera.cpp.obj.d
build/CMakeFiles/main.dir/src/glad.c.obj
build/CMakeFiles/main.dir/src/glad.c.obj.d
build/CMakeFiles/main.dir/src/glMacros.cpp.obj
build/CMakeFiles/main.dir/src/glMacros.cpp.obj.d
build/CMakeFiles/main.dir/src/IndexBuffer.cpp.obj
build/CMakeFiles/main.dir/src/IndexBuffer.cpp.obj.d
build/CMakeFiles/main.dir/src/main.cpp.obj
build/CMakeFiles/main.dir/src/main.cpp.obj.d
build/CMakeFiles/main.dir/src/Renderer.cpp.obj
build/CMakeFiles/main.dir/src/Renderer.cpp.obj.d
build/CMakeFiles/main.dir/src/Shader.cpp.obj
build/CMakeFiles/main.dir/src/Shader.cpp.obj.d
build/CMakeFiles/main.dir/src/Texture.cpp.obj
build/CMakeFiles/main.dir/src/Texture.cpp.obj.d
build/CMakeFiles/main.dir/src/Utils.cpp.obj
build/CMakeFiles/main.dir/src/Utils.cpp.obj.d
build/CMakeFiles/main.dir/src/VertexArray.cpp.obj
build/CMakeFiles/main.dir/src/VertexArray.cpp.obj.d
build/CMakeFiles/main.dir/src/VertexBuffer.cpp.obj
build/CMakeFiles/main.dir/src/VertexBuffer.cpp.obj.d
build/CMakeFiles/main.dir/src/VertexBufferLayout.cpp.obj
build/CMakeFiles/main.dir/src/VertexBufferLayout.cpp.obj.d
build/CMakeFiles/main.dir/src/figures/AABB.cpp.obj
build/CMakeFiles/main.dir/src/figures/AABB.cpp.obj.d
build/CMakeFiles/main.dir/src/figures/Circle.cpp.obj
build/CMakeFiles/main.dir/src/figures/Circle.cpp.obj.d
build/CMakeFiles/main.dir/src/figures/CollisionManager.cpp.obj
build/CMakeFiles/main.dir/src/figures/CollisionManager.cpp.obj.d
build/CMakeFiles/main.dir/src/figures/Figure.cpp.obj
build/CMakeFiles/main.dir/src/figures/Figure.cpp.obj.d
build/CMakeFiles/main.dir/src/figures/ForceManager.cpp.obj
build/CMakeFiles/main.dir/src/figures/ForceManager.cpp.obj.d
build/CMakeFiles/main.dir/src/figures/Ray2D.cpp.obj
build/CMakeFiles/main.dir/src/figures/Ray2D.cpp.obj.d
build/CMakeFiles/main.dir/src/figures/Square.cpp.obj
build/CMakeFiles/main.dir/src/figures/Square.cpp.obj.d
build/CMakeFiles/main.dir/src/tests/Test.cpp.obj
build/CMakeFiles/main.dir/src/tests/Test.cpp.obj.d
build/CMakeFiles/main.dir/src/tests/TestClearColor.cpp.obj
build/CMakeFiles/main.dir/src/tests/TestClearColor.cpp.obj.d
build/CMakeFiles/main.dir/src/tests/TestCollisions.cpp.obj
build/CMakeFiles/main.dir/src/tests/TestCollisions.cpp.obj.d
build/CMakeFiles/main.dir/src/tests/TestFPS.cpp.obj
build/CMakeFiles/main.dir/src/tests/TestFPS.cpp.obj.d
build/CMakeFiles/main.dir/src/tests/TestHugeObject.cpp.obj
build/CMakeFiles/main.dir/src/tests/TestHugeObject.cpp.obj.d
build/CMakeFiles/main.dir/src/tests/TestLight.cpp.obj
build/CMakeFiles/main.dir/src/tests/TestLight.cpp.obj.d
build/CMakeFiles/main.dir/src/tests/TestLightTexture.cpp.obj
build/CMakeFiles/main.dir/src/tests/TestLightTexture.cpp.obj.d
build/CMakeFiles/main.dir/src/tests/TestPong.cpp.obj
build/CMakeFiles/main.dir/src/tests/TestPong.cpp.obj.d
build/CMakeFiles/main.dir/src/tests/TestTexture.cpp.obj
build/CMakeFiles/main.dir/src/tests/TestTexture.cpp.obj.d
build/CMakeFiles/main.dir/src/vendor/imgui/imgui_demo.cpp.obj
build/CMakeFiles/main.dir/src/vendor/imgui/imgui_demo.cpp.obj.d
build/CMakeFiles/main.dir/src/vendor/imgui/imgui_draw.cpp.obj
build/CMakeFiles/main.dir/src/vendor/imgui/imgui_draw.cpp.obj.d
build/CMakeFiles/main.dir/src/vendor/imgui/imgui_impl_glfw_gl3.cpp.obj
build/CMakeFiles/main.dir/src/vendor/imgui/imgui_impl_glfw_gl3.cpp.obj.d
build/CMakeFiles/main.dir/src/vendor/imgui/imgui.cpp.obj
build/CMakeFiles/main.dir/src/vendor/imgui/imgui.cpp.obj.d
build/CMakeFiles/main.dir/src/vendor/stb/stb_image.cpp.obj
build/CMakeFiles/main.dir/src/vendor/stb/stb_image.cpp.obj.d
